.underline__logo {
  background-image: url(../../../images/logo_white_underline.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px){
  .underline__logo {
    width: 100px;
    height: 36px;
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .underline__logo {
    width: 160px;
    height: 58px;
  } 
}

@media screen and (min-width: 1184px) {
  .underline__logo {
    width: 228px;
    height: 82px;
  } 
}