.kitchen__image {
  padding-bottom: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px){
  .kitchen__image {

  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .kitchen__image {

  } 
}

@media screen and (min-width: 1184px) {
  .kitchen__image {

  } 
}