/*.header__logo {

}*/

@media screen and (max-width: 500px){
  .header__logo {
    width: 189px;
    height: 30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .header__logo {
    width: 214px;
    height: 34px;
    margin-top: 15px;
  } 
}

@media screen and (min-width: 1184px) {
  .header__logo {
    width: 252px;
    height: 40px;
    margin-top: 20px;
  } 
}