@keyframes add-opacity {
  from {
      opacity: 0.2;
      transform: scale(0.99, 0.99);
  }
  to {
      opacity: 1;
      transform: scale(1, 1);
  }
}

.display-grid {
  display: grid;
  /*transition: opacity 1s linear;
  opacity: 1;*/

  animation-name: add-opacity;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}