.footer__text {
  color: #545454;
  align-self: center;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 500px){
  .footer__text {
    margin-left: calc((100% - 90%)/2);
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .footer__text {
    margin-left: calc((100% - 80%)/2);
  } 
}

@media screen and (min-width: 1184px) {
  .footer__text {
    margin-left: calc((100% - 75%)/2);
  } 
}