.underline__image_number_two {
  background-image: url(../../../../images/underline__image_number_two.png);
  margin-right: 14px;
  object-fit: cover;
  background-position: center center;
}

@media screen and (max-width: 500px){
  .underline__image_number_two {
    width: 14px;
    height: 39px;
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .underline__image_number_two {
    width: 24px;
    height: 69px;
  } 
}

@media screen and (min-width: 1184px) {
  .underline__image_number_two {
    width: 29px;
    height: 82px;
  } 
}