.underline__image_number_one {
  background-image: url(../../../../images/underline__image_number_one.png);
  object-fit: contain;
  background-position: center center;
}

@media screen and (max-width: 500px){
  .underline__image_number_one {
    width: 33px;
    height: 39px;
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .underline__image_number_one {
    width: 58px;
    height: 69px;
  } 
}

@media screen and (min-width: 1184px) {
  .underline__image_number_one {
    width: 69px;
    height: 82px;
  } 
}