.section__li_flex {


}
@media screen and (max-width: 350px) {
  .section__li_flex {
    
  } 
}

@media screen and (max-width: 500px) and (min-width: 350px){
  .section__li_flex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, min-content);
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .section__li_flex {
  } 
}

@media screen and (min-width: 1184px) {
  .section__li_flex {
  } 
}