.underline__link {/*border: 1px solid red;*/
  text-decoration: none;
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.12em;
}

@media screen and (max-width: 375px) {
  .underline__link {
    font-size: 11px;
    line-height: 12px;
  }
}

@media screen and (max-width: 500px) and (min-width: 375px){
  .underline__link {
    font-size: 13px;
    line-height: 12px;
  }
}

@media screen and (max-width: 725px) and (min-width: 500px) {
  .underline__link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 1184px) and (min-width: 725px) {
  .underline__link {
    font-size: 18px;
    line-height: 24px;
  } 
}

@media screen and (min-width: 1184px) {
  .underline__link {
    font-size: 20px;
    line-height: 23px;
  } 
}