@keyframes add-opacity {
  from {
      opacity: 0.1;
  }
  to {
      opacity: 1;
  }
}

.add-opacity {
  /*animation-name: add-opacity;
  animation-duration: 1s;
  animation-timing-function: linear;*/
  animation: add-opacity 2s linear;
}