.kitchen__column {
  margin: 0 auto 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 500px){
  .kitchen__column {
    width: 90%;
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .kitchen__column {
    width: 80%;
  } 
}

@media screen and (min-width: 1184px) {
  .kitchen__column {
    width: 75%;
  } 
}