.cutaway__order {
  color: white;
  font-weight: 600;
  letter-spacing: 0.12em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
  text-decoration: none;
  z-index: 1;
  transform: scale(1, 1);
  transition: ease-out 0.7s;
  align-self: center;
  justify-self: start;
}

.cutaway__order:hover {
  transform: scale(1.05, 1.05);
  opacity: 0.7;
  transition: linear 0.4s;
}

@media screen and (max-width: 500px){
  .cutaway__order {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1184px) and (min-width: 500px) {
  .cutaway__order {
    font-size: 22px;
    line-height: 32px;
  } 
}

@media screen and (min-width: 1184px) {
  .cutaway__order {
    font-size: 24px;
    line-height: 34px;
  } 
}